<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>

<body>

<center>

<h1>GONS FARM</h1>
<h5>We provide banks with a solution that will help them give farmers loans to enable them increase their farm input through better seeds and fertilizers as well as effective pesticides</h5>
<h6>Apply Today</h6>

<a href="/">Home</a> /
<a href="/registration">Registration</a> /
<a href="/search">Search</a> /
<a href="">About Us</a> /
<a href="">Contact Us</a> /
<a href="">Request Our Services Today</a>

</center>

<h2>Welcome Massage</h2>
<p>GONS farm is a project of four ambitious ladies who were given a challenge to provide a bank with a solution that would enable it help a farmer who needed funding to increase his farm produce but had no well documented records. The four ladies did not shy away from the challenge but they instead grabbed the opportunity and came up with a solution that would be used by more banks</p>


<h2>Our Mission</h2>
<p>To help banks support farmers achieve their dreams</p>


<h2>Our Vision</h2>
<p>To partner with most banks if not all</p>

<h3>Our Contacts</h3>
<b>Tel</b> <i>2540011332589</i>
<br>
<b>Email</b> <u>info@gonsfarm.com</u>
<br>

</body>
</html>