<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Farmer Details</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xq058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script>
 function disableSubmit() {
  document.getElementById("submit").disabled = true;
 }

  function activateButton(element) {

      if(element.checked) {
        document.getElementById("submit").disabled = false;
       }
       else  {
        document.getElementById("submit").disabled = true;
      }

  }
</script>

</head>
<body>
<script>
    function tempertureConverter(){
        var C = document.getElementById("first_name").value;
        window.alert(C);
    }
</script>
<div class="Jumbo-tron text-center">

    <center>

<h1>GONS FARM</h1>
<h5>We provide banks with a solution that will help them give farmers loans to enable them increase their farm input through better seeds and fertilizers as well as effective pesticides</h5>
<h6>Apply Today</h6>

<a href="/">Home</a> /
<a href="/registration">Registration</a> /
<a href="/search">Search</a> /
<a href="">About Us</a> /
<a href="">Contact Us</a> /
<a href="">Request Our Services Today</a>

        <br>
        <br>

    <legend>Farmer Registration Form</legend>

    <form method="post" action="http://127.0.0.1:5000/registrationDetails">
        <div class="form-group">
            <input type="text" name="first_name" placeholder="Enter the First Name">
        </div>
        <div class="form-group">
            <input type="text" name="last_name" placeholder="Enter the Sir Name">
        </div>
        <div class="form-group">
            <input type="id" name="id_number" placeholder="ID Number">
        </div>
        <div class="form-group">
            <input type="date" name="d_o_b" placeholder="Year of Birth">
        </div>
        <div class="form-group">
            <lable for = marital_status>Marital Status</lable>
            <select name="marital_status" id="">
                <option value="married">Married</option>
                <option value="single">Single</option>
            </select>
        </div>
        <div class="form-group">
            <lable for = "gender">Gender</lable>
            <select name="gender" id="">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="custom">Custom</option>
            </select>
        </div>
        <div class="form-group">

        </div>
        <div class="form-group">
            <lable for = "farming_purpose">FarmingType</lable>
            <select name="farming_purpose" id="">
                <option value="commercial">Commercial</option>
                <option value="subsistence">Subsistence</option>
                <option value="both">Both</option>
            </select>
        </div>
        <div class="form-group">
            <input type="text" name="phone_number" placeholder="Phone Number">
        </div>
        <div class="form-group">
            <input type="text" name="farm_size" placeholder="Size of the farm in Hectares">
        </div>
        <div class="form-group">
            <input type="text" name="farm_location" placeholder="Farm Location">
        </div>
        <div class="form-group">
            <input type="text" name="crop" placeholder="Type of Crop">
        </div>
        <div class="form-group">
            <input type="text" name="other_source_of_income" placeholder="Other Source Of Income">
        </div>
        <div class="form-group">
            <input type="checkbox" name="tc_accepted" id="terms" onchange="activateButton(this)">  I Agree to Terms & Coditions
                <br><br>
        </div>
        <div class="form-group">
            <input type="SUBMIT" value="SUBMIT">
        </div>

    </form>
        </center>
</div>
</body>
</html>